<?xml version="1.0"?>
<launch>

  <set_parameter name="safety_limiter/footprint" value="'[[0.35, -0.22], [0.35, 0.22], [-0.35, 0.22], [-0.35, -0.22]]'" />
  <set_parameter name="costmap_3d/footprint" value="'[[0.35, -0.22], [0.35, 0.22], [-0.35, 0.22], [-0.35, -0.22]]'" />
  <set_parameter name="planner_3d/weight_hysteresis" value="0.0" />
  <include file="$(find-pkg-share neonavigation_launch)/launch/navigate.launch">
    <arg name="simulate" value="false" />
    <arg name="map_file" value="$(find-pkg-share neonavigation_launch)/map/demo_map.yaml" />
    <arg name="use_path_with_velocity" value="true" />
  </include>
  <node pkg="planner_cspace" exec="dummy_robot" name="dummy_robot">
    <remap from="cmd_vel" to="cmd_vel_dummy" />
  </node>
  <node pkg="tf2_ros" exec="static_transform_publisher" name="stf1"
      args="0 0 0 0 0 0 map odom" />

  <node pkg="nav2_map_server" exec="map_server" name="map_server_local">
    <remap from="map" to="map_with_local_objects" />
    <param name="yaml_filename" value="$(find-pkg-share neonavigation_launch)/map/demo_map_local.yaml" />
  </node>
  <node pkg="costmap_cspace" exec="largemap_to_map" name="largemap_to_map">
    <remap from="map" to="map_with_local_objects" />
    <remap from="map_local" to="overlay1" />
    <param name="width" value="60" />
    <param name="hz" value="1.5" />
  </node>

  <executable name="goal"
      launch-prefix="$(find-pkg-share planner_cspace)/test/script/delayed_launch.sh 3"
      cmd="ros2 topic pub -1 /move_base_simple/goal geometry_msgs/msg/PoseStamped
        '{header: {frame_id: map}, pose: {position: {x: 1.5}, orientation: {z: 0.707, w: 0.707}}}'
        --qos-durability transient_local --keep-alive 3 -n goal" />

  <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share neonavigation_launch)/config/visualization.rviz" respawn="true" />

  <node pkg="nav2_lifecycle_manager" exec="lifecycle_manager">
    <param name="node_names" value="[map_server_local]" />
    <param name="autostart" value="true" />
  </node>
</launch>
