<?xml version="1.0"?>
<launch>
  <rosparam param="safety_limiter/footprint">
    [[0.35, -0.22], [0.35, 0.22], [-0.35, 0.22], [-0.35, -0.22]]
  </rosparam>
  <rosparam param="costmap_3d/footprint">
    [[0.35, -0.22], [0.35, 0.22], [-0.35, 0.22], [-0.35, -0.22]]
  </rosparam>
  <rosparam param="planner_3d">
    weight_hysteresis: 0.0
  </rosparam>
  <include file="$(find-pkg-share neonavigation_launch)/launch/navigate.launch">
    <arg name="simulate" value="false" />
    <arg name="map_file" value="$(find-pkg-share neonavigation_launch)/map/demo_map.yaml" />
    <arg name="use_path_with_velocity" value="true" />
  </include>
  <node pkg="planner_cspace" exec="dummy_robot" name="dummy_robot">
    <remap from="cmd_vel" to="cmd_vel_dummy" />
  </node>
  <node pkg="tf2_ros" exec="static_transform_publisher" name="stf1"
      args="0 0 0 0 0 0 map odom" />

  <node pkg="nav2_map_server" exec="map_server" name="map_server_local" args="$(find-pkg-share neonavigation_launch)/map/demo_map_local.yaml">
    <remap from="map" to="map_with_local_objects" />
  </node>
  <node pkg="costmap_cspace" exec="largemap_to_map" name="largemap_to_map">
    <remap from="map" to="map_with_local_objects" />
    <remap from="map_local" to="overlay1" />
    <param name="width" value="60" />
    <param name="hz" value="1.5" />
  </node>

  <node pkg="rostopic" exec="rostopic" name="goal"
      launch-prefix="$(find-pkg-share planner_cspace)/test/script/delayed_launch.sh 3"
      args="pub -l /move_base_simple/goal geometry_msgs/PoseStamped
            -f $(find-pkg-share planner_cspace)/test/data/planner_performance_example.yaml" />
  <node pkg="planner_cspace" exec="set_planner_debug_level.sh" name="debug" args="debug" />

  <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share neonavigation_launch)/config/visualization.rviz" respawn="true" />
</launch>
