<?xml version="1.0"?>
<launch>
  <arg name="dev" default="/dev/input/js1" />
  <arg name="cmd_vel_out" default="cmd_vel" />
  <arg name="cmd_vel_in" default="cmd_vel_input" />
  <arg name="params_file"
    default="$(find-pkg-share joystick_interrupt)/config/joystick_interrupt.yaml" />

  <node pkg="joy" exec="joy_node" name="joystick">
    <param name="dev" value="$(var dev)" />
    <remap from="/joy" to="/joystick_interrupt/joy" />
  </node>

  <node pkg="joystick_interrupt" exec="joystick_interrupt" name="joystick_interrupt">
    <param from="$(var params_file)" />
    <remap from="~/cmd_vel" to="$(var cmd_vel_out)" />
    <remap from="~/cmd_vel_input" to="$(var cmd_vel_in)" />
    <remap from="/joy" to="/joystick_interrupt/joy" />
  </node>
</launch>