<?xml version="1.0"?>
<launch>
  <arg name="map_file" />
  <arg name="use_map_server" default="true" />
  <arg name="use_safety_limiter" default="false" />
  <arg name="use_path_with_velocity" default="true" />
  <arg name="enable_crowd_mode" default="false" />
  <arg name="simulate" default="false" />
  <arg name="sim_robot_x" default="0.0" />
  <arg name="sim_robot_y" default="0.0" />
  <arg name="sim_robot_yaw" default="0.0" />
  <arg name="cmd_vel_output" default="/cmd_vel" />
  <arg name="vel" default="0.5" />
  <arg name="acc" default="0.3" />
  <arg name="ang_vel" default="0.6" />
  <arg name="ang_acc" default="1.0" />
  <arg name="look_forward" default="0.1" />
  <arg name="curv_forward" default="0.2" />
  <arg name="slow_and_precise" default="true" />

  <arg name="linear_expand" default="0.08" />
  <arg name="linear_spread" default="0.3" />
  <arg name="output_info" default="screen" />

  <rosparam command="load" file="$(find-pkg-share neonavigation_launch)/config/navigate.yaml"/>

  <node pkg="costmap_cspace" exec="costmap_3d" name="costmap_3d" output="$(var output_info)" >
    <param param="footprint" value="'[[0.35, -0.22], [0.35, 0.22], [-0.35, 0.22], [-0.35, -0.22]]'" if="$(var simulate)" />
  </node>
  <node pkg="nav2_map_server" exec="map_server" name="map_server" if="$(var use_map_server)">
    <param name="yaml_filename" value="$(var map_file)" />
  </node>

  <node pkg="planner_cspace" exec="planner_3d" name="planner_3d" output="$(var output_info)">
    <param name="use_path_with_velocity" value="$(var use_path_with_velocity)" />
    <param name="enable_crowd_mode" value="$(var enable_crowd_mode)" />
  </node>

  <node pkg="trajectory_tracker" exec="trajectory_tracker" name="spur">
    <remap from="cmd_vel" to="$(var cmd_vel_output)" unless="$(var use_safety_limiter)" />
    <remap from="cmd_vel" to="cmd_vel_raw" if="$(var use_safety_limiter)" />

    <param name="max_vel" value="$(var vel)" />
    <param name="max_acc" value="$(var acc)" />
    <param name="max_angvel" value="$(var ang_vel)" />
    <param name="max_angacc" value="$(var ang_acc)" />

    <param name="curv_forward" value="$(var curv_forward)" />
    <param name="look_forward" value="$(var look_forward)" />

    <param name="rotate_ang" value="0.2" if="$(var slow_and_precise)" />
    <param name="rotate_ang" value="0.4" unless="$(var slow_and_precise)" />

  </node>
  <node pkg="safety_limiter" exec="safety_limiter" name="safety_limiter" if="$(var use_safety_limiter)" output="screen">
    <remap from="cmd_vel_in" to="cmd_vel_raw" />
    <remap from="cmd_vel" to="$(var cmd_vel_output)" />
    <param param="footprint" value="'[[0.35, -0.22], [0.35, 0.22], [-0.35, 0.22], [-0.35, -0.22]]'" if="$(var simulate)" />
    <param name="allow_empty_cloud" value="true" />
    <param name="watchdog_interval" value="0.0" />
  </node>

  <node pkg="planner_cspace" exec="patrol" name="patrol" />

  <group if="$(var simulate)">
    <node pkg="planner_cspace" exec="dummy_robot" name="dummy_robot">
      <remap from="cmd_vel" to="$(var cmd_vel_output)" />
    </node>
    <node pkg="tf2_ros" exec="static_transform_publisher" name="stf1"
        args="$(var sim_robot_x) $(var sim_robot_y) 0 $(var sim_robot_yaw) 0 0 map odom" />
  </group>

  <node pkg="nav2_lifecycle_manager" exec="lifecycle_manager">
    <param name="node_names" value="[map_server]" />
    <param name="autostart" value="true" />
  </node>
</launch>
